body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    overflow: hidden;
}

#select button{
    border-radius: 7%;
    border: 1px solid #ffffff;
    padding: 20px 25px;
    background: #000;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    font-family: raleway, arial;
    font-weight: bold;
    margin: 10px 0;
    -webkit-transition:all ease-in-out 0.5s;
    transition:all ease-in-out 0.5s;
    cursor: pointer;
}

#select button:hover{
    background: #fff;
    color: #000;
}

#cursor {
    height: 150px;
    width: 150px;
    background-image: url(imgs/s.gif);
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    right: 45%;
}

#enter {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    text-align: center;
    z-index: 2;
    color: #444;
    background: #000;
    font-family: "Raleway","ArcadeClassic","Arial";
}

#enter span {
    -webkit-animation: bright 1s ease-in-out infinite;
            animation: bright 1s ease-in-out infinite;
    font-size: 30px;
    color: #fff;
}

@-webkit-keyframes bright {
    0% {opacity: 1;}
    50% {opacity: 0;}
}

@keyframes bright {
    0% {opacity: 1;}
    50% {opacity: 0;}
}

.items {
    width: 100%;
    padding-top: 300px;
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: url(imgs/original.gif);
    -webkit-transition: filter ease-in-out 1s;
    -webkit-transition: -webkit-filter ease-in-out 1s;
    transition: -webkit-filter ease-in-out 1s;
    transition: filter ease-in-out 1s;
    transition: filter ease-in-out 1s, -webkit-filter ease-in-out 1s;
    background-size: contain;
}

.parent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.item {
    height: 300px;
    width: 100%;
    background: #444;
    margin: 200px 0;
    background: url(imgs/space4.png);
    background-size: contain;
    background-repeat: repeat-x;
}

.result {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    text-align: center;
    -webkit-animation: appear 0.5s both 1s;
    animation: appear 0.5s both 1s;
}

@-webkit-keyframes appear {
    from {
        display: none;
        opacity: 0;
    }

    to {
        background-color: rgba(0, 0, 0, 0.8);
        display: block;
        opacity: 1;
    }
}

@keyframes appear {
    from {
        display: none;
        opacity: 0;
    }

    to {
        background-color: rgba(0, 0, 0, 0.8);
        display: block;
        opacity: 1;
    }
}

.result h2 {
    color: #F00;
    font-size: 4em;
    margin-top: 15%
}

.result h1 {
    color: #FFF;
    font-size: 4em;
}

.result h3 {
    color: #fff;
}

code {
    position: fixed;
    top: 10px;
    right: 100px;
    color: #fff
}

.lvl {
    text-align: center;
    font-size: 75px;
    color: #fff
}

.moon {
    background: url(imgs/moon.jpg);
    background-size: cover;
    height: 1000px
}
p a {
    color: #444;
    text-decoration: none;
    border-bottom: 1px dashed #444
}

@media (max-width: 900px) {
    #cursor {
        height: 75px;
        width: 75px;
    }
}